@import url("https://fonts.googleapis.com/css2?family=El+Messiri&family=Marcellus+SC&family=Playfair+Display:ital,wght@1,500");
/*font-family: 'El Messiri', sans-serif;
HEADER --- font-family: 'Marcellus SC', serif;
font-family: 'Playfair Display', serif;*/
body {
  margin: 0;
  font-family: sans-serif;
}
